- blame = local_assigns.fetch(:blame, false)
.js-file-title.file-title-flex-parent
  = render 'projects/blob/header_content', blob: blob

  .file-actions.hidden-xs
    = render 'projects/blob/viewer_switcher', blob: blob unless blame

    .btn-group{ role: "group" }<
      = copy_blob_source_button(blob) unless blame
      = open_raw_blob_button(blob)
      = view_on_environment_button(@commit.sha, @path, @environment) if @environment

    .btn-group{ role: "group" }<
      -# only show normal/blame view links for text files
      - if blob.readable_text?
        - if blame
          = link_to 'Normal view', namespace_project_blob_path(@project.namespace, @project, @id),
              class: 'btn btn-sm'
        - else
          = link_to 'Blame', namespace_project_blame_path(@project.namespace, @project, @id),
              class: 'btn btn-sm js-blob-blame-link' unless blob.empty?

      = link_to 'History', namespace_project_commits_path(@project.namespace, @project, @id),
          class: 'btn btn-sm'

      = link_to 'Permalink', namespace_project_blob_path(@project.namespace, @project,
          tree_join(@commit.sha, @path)), class: 'btn btn-sm js-data-file-blob-permalink-url'

    .btn-group{ role: "group" }<
      = edit_blob_link if blob.readable_text?
      - if current_user
        = replace_blob_link
        = delete_blob_link

= render 'projects/fork_suggestion'
