- dropdown_class = local_assigns.fetch(:dropdown_class, '')

.dropdown-menu.dropdown-menu-selectable{ class: dropdown_class }
  = dropdown_title "Select Git revision"
  = dropdown_filter "Filter by Git revision"
  = dropdown_content
  = dropdown_loading
