- @no_container = true
- container_class = !fluid_layout && diff_view == :inline ? 'container-limited' : ''
- limited_container_width = fluid_layout || diff_view == :inline ? '' : 'limit-container-width'
- page_title        "#{@commit.title} (#{@commit.short_id})", "Commits"
- page_description  @commit.description
= render "projects/commits/head"

.container-fluid{ class: [limited_container_width, container_class] }
  = render "commit_box"
  - if @commit.status
    = render "ci_menu"
  - else
    .block-connector
  = render "projects/diffs/diffs", diffs: @diffs, environment: @environment

  = render "projects/notes/notes_with_form"
  - if can_collaborate_with_project?
    - %w(revert cherry-pick).each do |type|
      = render "projects/commit/change", type: type, commit: @commit, title: @commit.title
