- page_title       @project.name_with_namespace
- page_description @project.description    unless page_description
- header_title     project_title(@project) unless header_title
- nav              "project"

- content_for :project_javascripts do
  - project = @target_project || @project
  - if @project_wiki && @page
    - preview_markdown_path = namespace_project_wiki_preview_markdown_path(project.namespace, project, @page.slug)
  - else
    - preview_markdown_path = preview_markdown_namespace_project_path(project.namespace, project)
  - if current_user
    :javascript
      window.uploads_path = "#{namespace_project_uploads_path project.namespace,project}";
      window.preview_markdown_path = "#{preview_markdown_path}";

- content_for :header_content do
  .js-dropdown-menu-projects
    .dropdown-menu.dropdown-select.dropdown-menu-projects
      = dropdown_title("Go to a project")
      = dropdown_filter("Search your projects")
      = dropdown_content
      = dropdown_loading

= render template: "layouts/application"
